// Navigation code here
.navbar {
  font-size: 2rem;
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
  background: @nav-bg;
  .display-flex(column, center, center);
  position: sticky;
  top: 0;
  z-index: 5;
  opacity: 0.8;

  h1 {
    font-size: 2em;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  @media @nav {
    width: 100%;
  }
  @media @phone {
    width: 100%;
  }
}
.nav-links {
  width: 40%;
  .display-flex(row, space-evenly);
  padding-bottom: 1rem;
  @media @nav {
    width: 80%;
  }
  @media @phone {
    width: 100%;
  }

  a {
    text-transform: capitalize;
    font-size: 0.8em;
    text-decoration: none;
    color: @nav-font;
    &:hover {
      color: #001e58;
      transition: ease-in-out 300ms;
    }
  }
}
